@model AppDynamicRenderViewAjax.Models.EmpModel

@{
    ViewBag.Title = "prueba ajax";
}

@using (Ajax.BeginForm("Employees", "Home",
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "divEmp",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "onSuccess",
        LoadingElementId = "loading",
        OnFailure = "onFailure",
        OnBegin = "onBegin",
        OnComplete = "onComplete"
    }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 text-success">
                @ViewBag.Records
            </div>
        </div>
    </div>
}

@* - no es necesario el render ya se hace con UpdateTargetId - Html.Partial("EmpPartialView", Model)*@

    <div id="divEmp">
        <hr />
        @Html.TextBoxFor(x => x.CODIGO_POSTAL, new { @class = "form-control", @placeholder = "AQUI SE ACTUALIZA EL CP", @id = "codpostal" })     <img src="~/Content/images/load.gif" style="display:none;width:54px;" id="loading" />
    </div>

<script type="text/javascript">
    function onSuccess(response) {
        /* -- modo alternativo: esta parte es util cuando desde el back devolvemos Json(obj);
         * var message = "CP: " + response.CODIGO_POSTAL;
        message += "\nName: " + response.Name;
        message += "\nAddress: " + response.Address;
        message += "\nCity: " + response.City;
        .html(message)
        */
        console.log("onSuccess");
        // caso concreto en el que queremos actualizar fuera del render.
        $("codpostal").remove();
    }
    function onFailure(response) {
        console.log("OnFailure.");
        console.log(response);
    }
    function onBegin(response) {
        console.log("OnBegin.");
        console.log(response);
    }
    function onComplete(response) {
        console.log("OnComplete.");
        console.log(response);
    }

</script>